<IfModule mod_rewrite.c>
    RewriteEngine on

#	RewriteBase /
	RewriteBase /~greg/

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

#    RewriteRule ^(.*)$ index.php/$1 [L]
    RewriteRule ^(.*)$ pandacount/public/index.php/$1 [L]
</IfModule>
